{% extends "base.html" %}
{% block content %}

{% for category, message in get_flash_message(with_categories=true) %}
    <h2 class="'{{category}}">{{message}}</h2>
    <br><br>
{% endfor %}


<div class="signInCol" id="signIn">
    <form method="post">
        <h1>Sign in</h1><br>
        <input type="text" name="email" placeholder="Email" required>
        <input type="password" name="psw" placeholder="Password" required>

        <br><br>
        <center><button type="submit" class="minWidth">Sign in</button></center>
    </form>
</div>
{% endblock %}
